.userTopics {
    color : #3084A0;
}

.msgTopic {
    font-size:20px;
    color : #3084A0;
}

.msgBody {
    font-size:18px;
    color : #333333;
}

#messagesDiv{
    max-height:400px;
    overflow :scroll;
}
